@mixin flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay.overlay--open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000aa;
}

.display-none {
  display: none;
}

.dblock {
  display: block !important;
}

.hide-height {
  height: 0;
}

.show-height {
  height: max-content !important;
}

.show {
  display: block !important;
  transform: translateX(0) !important;
  opacity: 1 !important;
}

#phone,
#xiaomi,
#redmi,
#poco {
  scroll-margin-top: 4.8rem;
}
